#tutorial{
    height: 21rem;
    width: 99%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.tutorial-up{
    height: 90%;
    display: flex;
    flex-direction: row;
 
}
.tutorial-des{
    width: 95%;
    height: 90%;
    text-align: center;
}

.tutorial-des > p{
  font-size: calc(1vw + 1vh);
}

.img-responsive {
    max-width: 100%;
    max-height: 92%;
    height: auto;
  }


.tutorial-left-arrow, .tutorial-right-arrow{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tutorial-down{
    height: 5%;
    text-align: center;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .slide-in {
    animation: slide-in 0.5s forwards;
    transform: translateX(-100%);
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}