.header{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-between;
    flex: inherit;
    height: 7vh;
    z-index: 1;
}

.header-phone{

}

@media screen and (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    .header-phone{
        height: 7vw;
    }
  }