.menu{
  display: flex;
  height: 3rem;
  position: fixed;
  top: 3px;
  right: 3px;
  color: white;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}

.inner-burger{
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  background-color: white;
  width: 3rem;
  height: 0.3rem;
}

.open-burger:first-child {
  transform: rotate(45deg);
}
.open-burger:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}
.open-burger:nth-child(3) {
  transform: rotate(-45deg);
  
}

.close-burger:first-child {
  transform: rotate(0);
}
.close-burger:nth-child(2) {
  opacity:1;
  transform:translateX(0);
}
.close-burger:nth-child(3) {
  transform: rotate(0);
}

.sound{
  display: flex;
  position: absolute;
  justify-content: space-around;
  flex-direction: row;
  height: 30%;
  width: 100%;
  top: 1rem;
}

.sound-item{
  position: relative;
  height: 60%;
}