.popup-bg{
    display: flex;
    width: 100vw;
    position: fixed;
    height: 100vh;
    justify-content: center;
    background-color: #808080ab;
}

.popup{
    display: flex;
    align-self: center;
    width: 70vw;
    height: 60vh;
    border: 1px solid;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    background-color:#ffffffc7;
}

.image-popup{
    margin: 0 auto;
}