.controller-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    align-self: center;
    height: 20vh;
}

.flex-controller{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.controller-center{
    margin: 0 auto;
}

@media (orientation: landscape) {
    .controller-container{
      width: 50%;
    }
}