.game{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    flex-flow: column wrap;
}

.grid{
    display: grid;
    flex: 1;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.grid-phone{
    height: 70vh;
}



.coin{
    background-image: url("../../../assets/images/coin.png");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.block{
    background-image: url("../../../assets/images/block.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.player1{
    background-image: url("../../../assets/images/player1.png");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 110%;
}

.player2{
    background-image: url("../../../assets/images/player2.png");
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 110%;
}


@media (orientation: landscape) and (min-height: 0px) and (max-height: 400px){
    .coin{
        height: 100%;
    }
    .player1{
        z-index: 1;
        height: 160%;
    }
    
    .player2{
        z-index: 1;
        height: 160%;
    }
    .grid-phone{
      height: 63vh;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    .coin{
        height: 100%;
    }
    .player1{
        z-index: 1;
        height: 160%;
    }
    
    .player2{
        z-index: 1;
        height: 160%;
    }
    .game{
        width: 100vh;
        height: 100vw;
    }
    .grid{
        height: 100vw;
    }
    .grid-phone{
        height: 63vw;
      }
  }