:root {
  --rowNum: 1;
  --colNum: 1;
  --PrimaryColor : #005b56;
  --SecondColor : #913a40;
  --ThirdColor : #f4d14c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body:after {
  content: url('./assets/images/background.jpg') url('./assets/images/block.png') url('./assets/images/coin.png') url('./assets/images/player1-pointer.gif') url('./assets/images/player2-pointer.gif') url('./assets/images/coin.png') url('./assets/images/player1.png') url('./assets/images/player2.png');
  display: none; 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



html { font-size: calc(1vh + 1vw); }

.primary-bg{
  background-color: var(--PrimaryColor);
}

.second-bg{
  background-color: var(--SecondColor);
}


